@model CosmeticsStore.Models.EF.Subscribe
<div class="newsletter">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="newsletter_text d-flex flex-column justify-content-center align-items-lg-start align-items-md-center text-center">
                    @*<h4>Đăng ký</h4>
                    <p>Đăng ký để mua đơn hàng đầu tiên được giảm giá 20%</p>*@
                </div>
            </div>
            <div class="col-lg-6">
                @using (Ajax.BeginForm("Subscribe", "Home", new AjaxOptions
                {
                    OnBegin = "OnBeginSub",
                    OnSuccess = "OnSuccessSub",
                    OnFailure = "OnFailureSub"
                }))
                {
                    @Html.AntiForgeryToken()
                    <script>
                        function OnBeginSub(rs) {

                        }
                        function OnSuccessSub(rs) {
                            if (rs.Success) {
                                alert("Bạn đã đăng ký thành công");
                            }
                        }
                        function OnFailureSub(rs) {
                            if (rs.Success) {
                                alert("aaa");
                            }
                        }
                    </script>
                    <!--<div class="newsletter_form d-flex flex-md-row flex-column flex-xs-column align-items-center justify-content-lg-end justify-content-center">-->
                        @*@Html.TextBoxFor(x => x.Email, new {})*@
                        <!--<input id="newsletter_email" name="Email" type="email" placeholder="Your email" required="required" data-error="Valid email is required.">
                        <button id="newsletter_submit" type="submit" class="newsletter_submit_btn trans_300" value="Submit">subscribe</button>
                    </div>-->
                }

            </div>
        </div>
    </div>
</div>
