@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Locked Out";
}
<link rel="stylesheet" type="text/css" href="~/Content/assets/styles/contact_styles.css">
<link rel="stylesheet" type="text/css" href="~/Content/assets/styles/contact_responsive.css">
<div class="container contact_container">
    <hgroup>
        <h1 class="text-danger">Tài khoản bạn đã bị khoá!.</h1>
        <h2 class="text-danger"> Vui Lòng liên hệ tổng đài 087.779.9276 để kích hoạt lại tài khoản!</h2>
    </hgroup>
</div>
