
<link rel="stylesheet" type="text/css" href="~/Content/assets/styles/contact_styles.css">
<link rel="stylesheet" type="text/css" href="~/Content/assets/styles/contact_responsive.css">
<div class="container contact_container">
    <hgroup>
        <h1 class="text-danger">Chính sách trả hàng hoàn tiền</h1>
        <h2 class="text-danger"> Vui Lòng liên hệ zalo: 0877799276 để yêu cầu trả hàng hoàn tiền</h2>
    </hgroup>
</div>