<script src="https://www.gstatic.com/firebasejs/8.7.0/firebase-app.js"></script>
<script src="https://www.gstatic.com/firebasejs/8.7.0/firebase-database.js"></script>
<link rel="stylesheet" type="text/css" href="~/Content/assets/styles/chatAdmin.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />

<body onload="init()">
        @section naviheader{
            <!-- Left navbar links -->
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
                </li>
                @*<li class="nav-item d-none d-sm-inline-block">
                    <a href="/admin/home" class="nav-link"><font color="white">Trang chủ</font></a>
                </li>*@
                <li class="nav-item d-none d-sm-inline-block">
                    <a href="/admin/chat/chat   " class="nav-link"><font color="white">Chat</font></a>
                </li>
            </ul>
        }

      

        <!-- Main content -->
        <section class="content">
            <div class="container">
                <div class="row">
                    <section class="discussions" id="user-list">
                        <div class="discussion search">
                            <div class="searchbar">
                                <i class="fa fa-search" aria-hidden="true"></i>
                                <input type="text" placeholder="Search..." />
                            </div>
                        </div>
                    </section>
                    <!-- ... -->
                    <section class="chat" id="chatbox">
                        <div class="header-chat">
                            <i class="icon fa fa-user-o" aria-hidden="true"></i>
                            <p class="name"></p>
                            <i class="icon clickable fa fa-ellipsis-h right" aria-hidden="true"></i>
                        </div>
                        <!-- ... -->
                        <div class="messages-chat" id="message-list">
                            <!-- Messages of the selected user will be displayed here -->
                        </div>
                        <!-- ... -->
                        <div class="footer-chat">
                            <input type="text" class="write-message" placeholder="Type your message here"></input>
                            <i class="icon send fa fa-paper-plane-o clickable" aria-hidden="true"></i>
                        </div>
                    </section>
                    <!-- ... -->

                </div>
            </div>
            </section>
    
    </body>

<script>

    function init() {
        var selectedUserId = null;

        // Check if the Firebase app has already been initialized
        if (!firebase.apps.length) {
            var firebaseConfig = {
                apiKey: "AIzaSyCZvI9fq0T5YbkjiWf1-9ptt_Y8ZdCsRQ0",
                authDomain: "cosmetic-ae177.firebaseapp.com",
                projectId: "cosmetic-ae177",
                storageBucket: "cosmetic-ae177.appspot.com",
                messagingSenderId: "17597861695",
                appId: "1:17597861695:web:e585e3377c26f661690d8a",
                measurementId: "G-5Q85XKQPJG",
                databaseURL: "https://cosmetic-ae177-default-rtdb.asia-southeast1.firebasedatabase.app/"
            };

            firebase.initializeApp(firebaseConfig);
        }


        var database = firebase.database();
        var usersRef = database.ref("user");

        var userId = '@ViewBag.UserId';
        var chatbox = document.getElementById("message-list");

        function displayMessageBySender(userId, sender, content) {
            if (content.trim() !== '') {
                var headerChat = document.querySelector(".header-chat");
                var nameElement = headerChat.querySelector(".name");
                $.get("/Admin/Chat/GetUserById", { userId: userId }, function (data) {
                    if (data != null) {
                        var name = data.name;

                        var image = data.image;
                        nameElement.textContent = name;
                    }
                });

                var messageContainer = document.createElement("div");
                if (sender === "Admin") {
                    messageContainer.classList.add("message", "text-only");

                    var responseContainer = document.createElement("div");
                    responseContainer.classList.add("response");

                    var textContainer = document.createElement("p");
                    textContainer.classList.add("text");
                    textContainer.textContent = content;

                    responseContainer.appendChild(textContainer);
                    messageContainer.appendChild(responseContainer);
                } else {
                    messageContainer.classList.add("message");

                    var photoContainer = document.createElement("div");
                    photoContainer.classList.add("photo");
                    $.get("/Admin/Chat/GetUserById", { userId: userId }, function (data) {
                        if (data != null) {
                            var image = data.image;
                            photoContainer.style.backgroundImage = "url(" + image + ")";
                        }
                    });

                    var onlineIndicator = document.createElement("div");

                    var textContainer = document.createElement("p");
                    textContainer.classList.add("text");
                    textContainer.textContent = content;

                    messageContainer.appendChild(photoContainer);
                    messageContainer.appendChild(onlineIndicator);
                    messageContainer.appendChild(textContainer);

                }

                chatbox.appendChild(messageContainer);
            }

        }


        usersRef.once("value", function (snapshot) {
            snapshot.forEach(function (childSnapshot) {
                var userId = childSnapshot.key;
                $.get("/Admin/Chat/GetUserById", { userId: userId }, function (data) {
                    if (data != null) {
                        var name = data.name;
                        var image = data.image;

                        // Create HTML element for the user
                        var userElement = document.createElement("div");
                        userElement.addEventListener('click', function () {
                            var userId = childSnapshot.key;
                            displayUserMessages(userId);
                        });
                        userElement.classList.add("discussion");
                        userElement.innerHTML = `
                            <div class="photo" style="background-image: url(${image});">
                                <div class="online"></div>
                            </div>
                            <div class="desc-contact">
                                <p class="name">${name}</p>
                                <p class="message">Let's meet for a coffee or something today ?</p>
                            </div>
                            <div class="timer">3 min</div>
                        `;

                        // Insert the user element into the user list
                        var userListElement = document.getElementById("user-list");
                        userListElement.appendChild(userElement);

                        // Lấy tin nhắn mới nhất từ người dùng đó
                        var messagesRef = database.ref("user/" + userId + "/");
                        messagesRef.limitToLast(1).on("child_added", function (messageSnapshot) {
                            var message = messageSnapshot.val();
                            var sender = message.sender;
                            if (sender === "You") {
                                var fullname = name;
                                var nameParts = fullname.split(" ");
                                var sender = nameParts[nameParts.length - 1];
                            }
                            var messageText = message.content;

                            // Cập nhật tin nhắn mới nhất trong phần tử người dùng
                            var latestMessageElement = userElement.querySelector(".message");
                            latestMessageElement.textContent = sender + ": " + messageText;
                        });
                    }
                });
            });
        });

        function sendMessage() {
            var sender = "Admin";
            var content = document.querySelector(".write-message").value;

            // Check if a user is selected
            if (selectedUserId) {
                var messageId = new Date().getTime().toString();
                database.ref("user/" + selectedUserId + "/" + messageId).set({
                    sender: sender,
                    content: content,
                }).then(function () {
                    // Create message container
                    var messageContainer = document.createElement("div");
                    messageContainer.classList.add("message", "text-only");

                    var responseContainer = document.createElement("div");
                    responseContainer.classList.add("response");

                    var textContainer = document.createElement("p");
                    textContainer.classList.add("text");
                    textContainer.textContent = content;

                    responseContainer.appendChild(textContainer);
                    messageContainer.appendChild(responseContainer);


                    // Scroll to the bottom of the chat container
                    chatbox.scrollTop = chatbox.scrollHeight;
                });
            }

            document.querySelector(".write-message").value = "";
        }

        // Lắng nghe sự kiện nhấp chuột vào nút gửi
        var sendButton = document.querySelector(".send");
        sendButton.addEventListener("click", sendMessage);

        // Lắng nghe sự kiện phím Enter được nhấn trong input
        var inputMessage = document.querySelector(".write-message");
        inputMessage.addEventListener("keydown", function (event) {
            // Kiểm tra nếu phím Enter được nhấn (keyCode 13)
            if (event.keyCode === 13) {
                sendMessage();
            }
        });



        function displayUserMessages(userId) {
            selectedUserId = userId;

            // Clear the existing messages in the chat container
            chatbox.innerHTML = "";

            // Retrieve the messages of the selected user from the database
            var messagesRef = database.ref("user/" + userId + "/");
            var latestMessageKey = null;

            // Remove previous event listeners before adding a new one
            messagesRef.off("child_added");

            messagesRef.orderByChild("timestamp").on("child_added", function (snapshot) {
                var messageKey = snapshot.key;
                if (messageKey !== latestMessageKey) {
                    latestMessageKey = messageKey;

                    var message = snapshot.val();
                    var sender = message.sender;
                    var content = message.content;
                    displayMessageBySender(userId, sender, content);
                }

                // Scroll to the bottom of the chat container
                chatbox.scrollTop = chatbox.scrollHeight;
            });
        }

    }

</script>
