@model IEnumerable<CosmeticsStore.Models.EF.Order>
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Thống kê</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active">Thống kê</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content">

    <!-- Default box -->
    <div class="card">
        <div class="card-header">
            <h3 class="card-title">Thống kê doanh thu bán hàng</h3>

            <div class="card-tools">
                <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                    <i class="fas fa-minus"></i>
                </button>
                <button type="button" class="btn btn-tool" data-card-widget="remove" title="Remove">
                    <i class="fas fa-times"></i>
                </button>
            </div>
        </div>
        <div class="card-body">
            <div class="row" style="padding:10px">
                <form>
                    @using (Html.BeginForm("GetStatistical", "Statistical", FormMethod.Post, new { }))
                    {
                        <label for="fromDate">Từ ngày: </label>
                        <input type="datetime-local" id="fromDate" name="fromDate" value="now">
                        <label for="toDate">Đến ngày:</label>
                        <input type="datetime-local" id="toDate" name="toDate">
                        <button type="submit" class="btn btn-info">Xem</button>
                        <a style="padding-right:10px" href="@Url.Action("ExportExcel_EPPLUS","Statistical")" class="btn btn-warning">Xuất Excel</a>
                    }
                </form>
            </div>
            <div class="row">

                <div class="col=md-4">
                    <div class="chart">
                        <canvas id="barChart" style="min-height: 250px; height: 250px; max-height: 250px; max-width: 100%;"></canvas>
                    </div>
                </div>
                <div class="col-md-4">

                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>STT</th>
                                <th>Ngày</th>
                                <th>Doanh thu</th>
                            </tr>
                        </thead>
                        <tbody id="load_data">
                        </tbody>
                    </table>

                </div>
            </div>

        </div>

        <!-- /.card-footer-->
    </div>
    <!-- /.card -->

</section>
<!-- /.content -->
@section scripts{
    <script src="~/Content/admin/plugins/chart.js/Chart.min.js"></script>
    <script src="~/Content/admin/plugins/moment/moment.min.js"></script>
    <script>

        $(function () {
            var arrDoanhThu = [];
            var arrLoiNhuan = [];
            var arrDate = [];
            var fromDate = $("#fromDate").val();
            var toDate = $("#toDate").val();
            $.ajax({
                url: '/Statistical/GetStatistical',
                type: 'POST',
                data: { fromDate: fromDate, toDate: toDate },
                success: function (rs) {
                    $.each(rs.Data, function (i, item) {

                        var strDate = moment(item.Date).format('DD/MM/yyyy');
                        console.log(strDate);
                        arrDate.push(strDate);
                        arrDoanhThu.push(item.DoanhThu);

                    });
                    var areaChartData = {
                        labels: arrDate,
                        datasets: [
                            {
                                

                            },
                            {
                                label: 'Doanh thu',
                                backgroundColor: 'rgba(60,141,188,0.9)',
                                borderColor: 'rgba(60,141,188,0.8)',
                                pointRadius: false,
                                pointColor: '#3b8bba',
                                pointStrokeColor: 'rgba(60,141,188,1)',
                                pointHighlightFill: '#fff',
                                pointHighlightStroke: 'rgba(60,141,188,1)',
                                data: arrDoanhThu
                            },
                        ]
                    }
                    //-------------
                    //- BAR CHART -
                    //-------------
                    var barChartCanvas = $('#barChart').get(0).getContext('2d')
                    var barChartData = $.extend(true, {}, areaChartData)
                    var temp0 = areaChartData.datasets[0]
                    var temp1 = areaChartData.datasets[1]
                    barChartData.datasets[0] = temp1
                    barChartData.datasets[1] = temp0

                    var barChartOptions = {
                        responsive: true,
                        maintainAspectRatio: false,
                        datasetFill: false
                    }

                    new Chart(barChartCanvas, {
                        type: 'bar',
                        data: barChartData,
                        options: barChartOptions
                    })
                    load_data(rs.Data);
                }
            });


        })

        function load_data(data) {
            var strHtml = "";
            var revenue = 0;
            $.each(data, function (i, item) {

                var strDate = moment(item.Date).format('DD/MM/yyyy');
                strHtml += "<tr>";
                strHtml += "<td>" + (i + 1) + "</td>";
                strHtml += "<td>" + strDate + "</td>";
                strHtml += "<td>" + item.DoanhThu + "</td>";
                revenue += item.DoanhThu;
                strHtml += "</tr>";
            });
            strHtml += "<th>" + 'Tổng:' + "</th>";
            strHtml += "<th>" + revenue + "</th>";
            $('#load_data').html(strHtml);
        }
        function revenue(data) {
            var strHtml = "";
            var revenue = 0;
            $.each(data, function (i, item) {
                revenue += item.DoanhThu;
            });
        }
    </script>
}


