@model System.Web.Mvc.HandleErrorInfo
@{
    ViewBag.Title = "Lockout";
    
}

<div class="container contact_container">
    <hgroup>
        <h1 class="text-danger">Tài khoản bạn đã bị khoá!.</h1>
        <h2 class="text-danger"> Vui Lòng liên hệ -- QUẢN LÝ -- để kích hoạt lại tài khoản!</h2>
    </hgroup>
</div>

